.table{
    font-size: smaller;
    margin: auto;
    border: none;
    padding: 10px;
}

.kepek{
    width: 250px;
    height: 170px;
    text-align: center;
}

.tipus{
    text-align: center;
}

td div{
    padding: 10px;
    background-color: lightgrey;
}